body {
    background-color: rgb(221, 229, 236);
}

#phrase {
    
    justify-content: center;
    padding: 20%;
    padding-left: 45%;
}

#title {
    justify-content: left;
    padding-left: 2.5%;
    padding-top: 2.5%;
    font-size: 20px;
    font-weight: bold;
}